{% extends "::base.html.twig" %}

{% block title %}Edit Hole Pars For: {{ course.name }}{% endblock %}

{% block body %}
<form action="{{ path('save_pars') }}" method="post">
    <table>
        {% for hole_form in form.holes %}
        <tr>
            <td>{{ form_label(hole_form) }}</td>
            <td>{{ form_widget(hole_form) }}</td>
        </tr>
        {% endfor %}
    </table>
    {{ form_rest(form) }}
    <input type="submit"/>
</form>
{% endblock %}