{% extends "::base.html.twig" %}

{% block title %}Edit Hole Pars For: {{ course.name }}{% endblock %}

{% block body %}
<form action="{{ path('save_pars', {'id': course.id}) }}" method="post">
    <table>
        {% for hole_form in form.holes %}
        <tr>
            <td>{{ form_label(hole_form) }}</td>
            <td>
                {% for par in hole_form %}
                    {{ form_widget(par) }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ form_rest(form) }}
    <input type="submit"/>
</form>
{% endblock %}