{% extends "::base.html.twig" %}

{% block title %}Course Details: {{ course.name }}{% endblock %}

{% block body %}
<table>
    <tr>
        <td>Name:</td>
        <td>{{ course.name }}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>{{ course.city }}</td>
    </tr>
    <tr>
        <td>Number of holes:</td>
        <td>{{ course.holesNumber }}</td>
    </tr>
    <tr>
        <td>Number</td>
        <td>Par</td>
    </tr>
    {% for hole in course.holes %}
    <tr>
        <td>{{ hole.number }}</td>
        <td>{{ hole.par }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}